cvdemo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!ELEMENT cv (ident, formations, experiences)>
<!ATTLIST cv
	idcv ID #REQUIRED
>
<!ELEMENT cvs (cv+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT ident (nom, pnom+, datenaiss, langues)>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	matern CDATA #IMPLIED
	langName CDATA #REQUIRED
	lu CDATA #IMPLIED
	ecrit CDATA #IMPLIED
	parle CDATA #IMPLIED
>
<!ELEMENT diplome (intitule)>
<!ATTLIST diplome
	obtenu CDATA #REQUIRED
>
<!ELEMENT langues (langue+)>
<!ELEMENT anneeDeb (#PCDATA)>
<!ELEMENT anneeFin (#PCDATA)>
<!ELEMENT diplomes (diplome+)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT formation (anneeDeb, anneeFin, intitule, diplomes)>
<!ELEMENT experience (anneeDeb, anneeFin?, intitule)>
<!ELEMENT formations (formation+)>
<!ELEMENT experiences (experience+)>
