cvdemo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="anneeDeb" type="xs:short"/>
	<xs:element name="anneeFin" type="xs:short"/>
	<xs:element name="cv">
	<xs:annotation>
		<xs:documentation>Une balise complete de cv</xs:documentation>
	</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="formations"/>
				<xs:element ref="experiences"/>
			</xs:sequence>
			<xs:attribute name="idcv" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss" type="xs:date"/>
	<xs:element name="diplome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="intitule"/>
			</xs:sequence>
			<xs:attribute name="obtenu" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="diplome" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experience">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anneeDeb"/>
				<xs:element ref="anneeFin" minOccurs="0"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experiences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="experience" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anneeDeb"/>
				<xs:element ref="anneeFin"/>
				<xs:element ref="intitule"/>
				<xs:element ref="diplomes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="pnom" maxOccurs="unbounded"/>
				<xs:element ref="datenaiss"/>
				<xs:element ref="langues"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="intitule" type="xs:string"/>
	<xs:element name="langue">
		<xs:complexType>
			<xs:attribute name="matern" type="xs:boolean"/>
			<xs:attribute name="langName" type="xs:string" use="required"/>
			<xs:attribute name="lu" type="xs:boolean"/>
			<xs:attribute name="ecrit" type="xs:boolean"/>
			<xs:attribute name="parle" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="pnom" type="xs:string"/>
</xs:schema>
