xsl/xml/stat.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!ELEMENT nbArt (#PCDATA)>
<!ELEMENT facture (dateFacture, nbArt, totalFacture, avgStotligne)>
<!ATTLIST facture
	type CDATA #REQUIRED
>
<!ELEMENT factures (nbArt, montantStotMax, avgStotligne)>
<!ELEMENT dateFacture (#PCDATA)>
<!ELEMENT avgStotligne (#PCDATA)>
<!ELEMENT statFactures (factures, facture+)>
<!ELEMENT totalFacture (#PCDATA)>
<!ELEMENT montantStotMax (#PCDATA)>
